.blind {
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	margin: -1px;
	padding: 0;
	width: 1px;
	height: 1px;
	border: 0;
	clip: rect(0, 0, 0, 0);
	clip-path: inset(50%);
}


/* S : GNB */
.hmj-header {
	transition: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 200;
	background-color: transparent;
	z-index: 2999;
	padding-right:0px !important;
}
.hmj-header .header-outer {
	background: transparent;
	border: none;
}
.hmj-header.on .header-outer {
	background: rgba(25,25,25,0.7);
}
.hmj-header.scr-chk {
	transition: all .3s ease-in-out;
	top: -72px;
	background-color: transparent;
}
.hmj-header.active {
	transition: background-color .4s, top .4s cubic-bezier(0.645, 0.045, 0.355, 1);
	background-color: rgba(0, 0, 0, .35);
	-webkit-backdrop-filter: blur(80px);
	backdrop-filter: blur(80px);
}
.hmj-header.active.none-blur {
	backdrop-filter: unset;
}
.hmj-header .gnb-mid-menu .mid-list li a {
	color: #fff;
}

.hmj-header.type-model.scr-chk {
	display: none;
}
.hmj-header.type-model.scr-chk .gnb-mid-menu .mid-list li a span {
	color: #191919;
}
.hmj-header.type-model.scr-chk .header-cont h1 a {
	background: none;
}
.hmj-header.type-model.scr-chk .header-cont h1 a img {
	display: block;
}
.hmj-header.type-model.scr-chk .header-cont .btn-cart span {
	background: none;
}
.hmj-header.type-model.scr-chk .header-cont .btn-cart span img {
	display: inline-block;
}
.hmj-header.type-model.scr-chk .header-cont .btn-search span {
	background: none;
}
.hmj-header.type-model.scr-chk .header-cont .btn-search span img {
	display: inline-block;
}
.hmj-header.type-model.scr-chk .header-cont .btn-menu span {
	background: none;
}
.hmj-header.type-model.scr-chk .header-cont .btn-menu span img {
	display: inline-block;
}
.detail-nexo .hmj-content {
	max-width: 1120px;
	margin: 0 auto;
	padding-top:0px !important;
}
.detail-nexo .detail-cont-outer {
	padding-top: 136px;
}

.detail-nexo .detail-cont-outer h2 {
	font-size: 40px;
	font-weight: 500;
	line-height: 64px;
}
@media screen and (max-width: 1119px) {
	.mo-only {
		display: block;
	}
	.hmj-header .model-menu-wrap {
		top: 0;
		margin-bottom: 33px;
		max-width: 1120px;
		height: 55px;
	}
	.hmj-header .model-menu {
		padding: 0 8px 0 20px;
		width: unset;
		height: 55px;
	}
	.hmj-header .model-menu h4.mo-only {
		position: relative;
		display: inline-block;
		padding-right: 30px;
		font-size: 18px;
	}
	.hmj-header .model-menu h4:before {
		content:'';
		position: absolute;
		top: 50%;
		right: 0;
		display: inline-block;
		width: 16px;
		height: 16px;
		margin-top: -8px;
		background: url(../../pip/assets/images/common/ico_gnb_arrow_blk.svg) no-repeat 0 0;
		background-size: 16px;
		transition: all .3s ease-in-out;
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
	}
	.hmj-header .model-menu.active h4:before {
		-webkit-transform: rotate(0);
		transform: rotate(0);
	}
	.hmj-header .model-menu .btn-menu {
		flex-shrink: 0;
		width: 48px;
		height: 48px;
		background: url(../../pip/assets/images/common/ico_menu.svg) no-repeat center center;
		background-size: 48px;
	}
	.hmj-header .model-menu .model-menu-list {
		position: absolute;
		top: 56px;
		left: 0;
		width: 100%;
		display: none;
		padding: 24px 28px;
		background-color: #fff;
		font-size: 14px;
		line-height: 22px;
		box-shadow: 0 6px 6px -1px #e9e9e9;
	}
	.hmj-header .model-menu .model-menu-list li + li {
		margin-top: 16px;
	}
	.hmj-header .model-menu .model-menu-list a {
		color: #191919;

	}
	.hmj-header .model-menu .model-menu-list .is-active a {
		opacity: 0.4;
	}
	.detail-nexo .detail-cont-outer {
		padding: 102px 0 0 20px;
		/* padding: 102px 0 0; */
	}
	.detail-nexo .detail-cont-outer h1 {
		font-size: 24px;
		line-height: 38px;
	}
}
/* E : GNB */

/* S : LNB */
.detail-nexo .model-menu-wrap {
	position: sticky;
	position: -webkit-sticky;
	z-index: 10;
	top: 0;
	margin-bottom: 89px;
	padding: 0;
	width: 100%;
	max-width: 100%;
	height: 70px;
	background: rgba(255, 255, 255, 1);
	transition: top 0.3s;
	z-index: 24;
}
.detail-nexo .model-menu-wrap.with-gnb {
	top: 72px;
}
.detail-nexo .model-menu {
	position: relative;
	margin: 0 auto;
	width: 1096px;
	height: 70px;
}
.detail-nexo .model-menu h4 {
	position: relative;
	top: 17px;
	width: 104px;
	font-weight: 500;
}
.detail-nexo .model-menu nav {
	position: absolute;
	top: 26px;
	right: 0;
}
.detail-nexo .model-menu nav ul {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.detail-nexo .model-menu nav ul li {
	margin-left: 32px;
}
.detail-nexo .model-menu nav ul li a {
	color: #191919;
}
.detail-nexo .model-menu nav ul li.is-active a {
	color: #999;
}

@media screen and (max-width: 1119px) {
	.detail-nexo .model-menu-wrap {
		top: 0;
		margin-bottom: 96px;
		max-width: 1120px;
		height: 55px;
	}
	.detail-nexo .model-menu-wrap.with-gnb {
		top: 52px;
	}
	.detail-nexo .model-menu {
		padding: 0 20px;
		width: unset;
		height: 55px;
	}
	.detail-nexo .model-menu h4 {
		width: 100%;
		top: 13px;
	}
	.detail-nexo .model-menu h4:before {
		content:'';
		position: absolute;
		top: 50%;
		right: 0;
		display: inline-block;
		width: 16px;
		height: 16px;
		margin-top: -8px;
		background: url(../../pip/assets/images/common/ico_gnb_arrow_blk.svg) no-repeat 0 0;
		background-size: 16px;
		transition: all .3s ease-in-out;
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
	}
	.detail-nexo .model-menu h4.active:before {
		-webkit-transform: rotate(0);
		transform: rotate(0);
	}
	.detail-nexo .model-menu .btn_model-menu {
		position: absolute;
		top: 4px;
		right: 10px;
		width: 48px;
		height: 48px;
		background: url(../../pip/assets/images/common/ico_menu.svg) no-repeat center center;
		background-size: 48px;
	}
	.detail-nexo .model-menu .model-menu-list {
		position: absolute;
		top: 55px;
		left: 0;
		width: 100%;
		background-color: #fff;
		font-size: 14px;
		line-height: 22px;
		box-shadow: 0 6px 6px -1px #e9e9e9;
		display: none;
	}
	.detail-nexo .model-menu .model-menu-list li {
		padding: 12px 20px;
	}
	.detail-nexo .model-menu .model-menu-list li:first-child {
		padding-top: 24px;
	}
	.detail-nexo .model-menu .model-menu-list li:last-child {
		padding-bottom: 24px;
	}
	.detail-nexo .model-menu .model-menu-list a {
		color: #191919;
		opacity: 0.4;
	}
	.detail-nexo .model-menu .model-menu-list .is-active a {
		opacity: 1;
	}
}
/* E : LNB */

.detail-nexo .hmj-content {
	max-width: 1120px;
	margin: 0 auto;
}
.detail-nexo .detail-cont-outer {
	padding-top: 80px;
}
/*S: NEXO Price*/
.nexo-price-box .cont-tit2{
	margin: 80px 0 24px 0;
	font-size: 24px;
	font-weight: 500;
}
.nexo-price-box h2 {
	font-weight: 500;
}
.nexo-price-box .tbl-box table{
	border-bottom: none;
	border-collapse: separate;
}
.nexo-price-box .tbl-box4 col:first-child{
	width: 224px;
}
.nexo-price-box .tbl-box tbody th {
	background-color: transparent;
	color: #191919;
	font-weight: 500;
	vertical-align: baseline;
	padding: 16px 16px 16px 0;
}
.nexo-price-box .tbl-box tbody th h4 {
	font-size: 14px;
	font-weight: 500;
}
.nexo-price-box .tbl-box tbody td{
	font-size: 12px;
	line-height: 1.67;
	vertical-align: baseline;
}
.nexo-price-box .tbl-box tbody .hyundai-smart-sense{
	border-bottom: none;
	padding-bottom: 12px;
	height: 36px;
}
.nexo-price-box .tbl-box tbody td p{
	margin-bottom: 12px;
}
.nexo-price-box .tbl-box2 p{
	font-size: 14px;
}
.nexo-price-box .tbl-box tbody td span{
	font-weight: normal;
}
.nexo-price-box .tbl-box tbody .tbl-content-text{
	border-bottom: none;
	height: 36px;
	padding: 16px 16px 0 16px;
}
.nexo-price-box .tbl-box tbody .nexo-price-content{
	text-align: center;
	padding: 16px 0 32px 0;
}
.nexo-price-box .tbl-box tbody .nexo-price-content:last-child{
	text-align: right;
}
.nexo-price-box .caution.type2{
	margin-top: 0;
	padding: 0;
}
.nexo-price-box .caution.type2 li{
	color: #999;
	font-family: HyundaiSansHeadJP;
}
.nexo-price-box .caution.type2:before{
	display: none;
}
.nexo-price-box .caution{
	margin-top: 80px;
}
.nexo-price-box .caution .depth1{
	margin-bottom: 32px;
}
.nexo-price-box .caution .depth1:last-child{
	margin-bottom: 0;
}
.nexo-price-box .caution .depth1 li{
	margin-bottom: 8px;
	font-size: 12px;
	color: #666;
}
.nexo-price-box .caution h4{
	font-size: 16px;
	font-weight: 500;
	line-height: 1.63;
	margin-bottom: 32px;
}

@media screen and (max-width:1119px){
	.detail-cont-outer.nexo-price-box{
		padding: 0 20px;
	}
	.nexo-price-box h2{
		font-size: 32px;
	}
	.nexo-price-box .cont-tit2{
		margin: 64px 0 24px 0;
		font-size: 20px;
	}
	.nexo-price-box .tbl-box col:first-child{
		width: 12%;
	}
	.nexo-price-box .tbl-box2 col:first-child{
		width: 45%;
	}
	.nexo-price-box .tbl-box3 col:first-child{
		width: 23%;
	}
	.nexo-price-box .tbl-box col:nth-child(2){
		width: 12%;
	}
	.nexo-price-box .tbl-box3 col:nth-child(2){
		width: 23%;
	}
	.nexo-price-box .tbl-box4 col:nth-child(2){
		width: 20%;
	}
	.nexo-price-box .tbl-box tbody th, .nexo-price-box .tbl-box tbody th h4{
		font-size: 14px;
	}
	.nexo-price-box .tbl-box tbody .nexo-price-content{
		padding: 16px 0 16px 0;
	}
	.nexo-price-box .caution.type2{
		padding-top: 10px;
	}
	.nexo-price-box .caution.type2 li br{
		display: none;
	}
	.nexo-price-box .caution2{
		margin-right: 20px;
	}
	.nexo-price-box .caution2 .tit{
		font-size: 14px;
		margin-bottom: 16px;
	}
	.nexo-price-box .caution2 h4 br + br{
		display: none;
	}
}
@media screen and (max-width:500px){
	.nexo-price-box .tbl-box table{
		width: 900px;
	}
	.nexo-price-box .tbl-box2 table{
		width: 500px;
	}
	.nexo-price-box .tbl-box3 table{
		width: 500px;
	}
}

.nexo-price-box .tbl-box td button {
	text-align: left;
}
